# Configuration file for the DataStore Performance Application
Mode Live                 # Mode options are File or Live 
FrameRate 20              # Simulated display rate in frames per seconds
Interpolate true          # State of the DataStore interpolation
NumberOfSeconds 300       # Seconds of data
DataLimiting true        # Used in Live mode to limit the amount of data, limits are set below

Platform Number 100             # Number of entities, can be zero for all entity types except platforms     
Platform DataPerSecond 10        # Integer number of data points per second (TSPI, RAE), must be 1 or greater
Platform DataLimitPoints 100     # The data limit in number of points, if live mode and data limiting is turned on; 0 for no limiting
Platform DataLimitSeconds 0.0    # Maximum number of seconds of data to keep in data limiting case for seconds; 0.0 for no limiting
Platform InitialCategoryData 0   # The amount of category data to create when the entity is created, can be zero
Platform CategoryPerDataPoint 0  # The amount of category data to create with each data point, can be zero
Platform InitialGenericData 0    # The amount of generic data to create when the entity is created, can be zero
Platform GenericPerDataPoint 0   # The amount of generic data to create with each data point, can be zero
Platform IncludeInitialColor False  # True means add an initial color
Platform IncludeColorPerData False  # True means add color to each data point
Platform NumTables 1             # Number of data tables to create per entity
Platform TableNumColumns 40       # Number of columns in each column
Platform TableSparsity small      # Amount of sparsity in the table: 'none' (no NULLs), 'small' (some NULLs), 'maximum' (lots of NULLs)
Platform TableVariableType uint8_t   # Can be: double, float, string, uint8_t, int8_t, uint16_t, int16_t, uint32_t, int32_t, uint64_t, int64_t

Beam Number 0                
Beam DataPerSecond 1
Beam DataLimitPoints 600
Beam DataLimitSeconds 0.0
Beam InitialCategoryData 4
Beam CategoryPerDataPoint 0
Beam InitialGenericData 2
Beam GenericPerDataPoint 0
Beam IncludeInitialColor True
Beam IncludeColorPerData True
Beam NumTables 0
Beam TableNumColumns 0
Beam TableSparsity None
Beam TableVariableType double

Gate Number 0                
Gate DataPerSecond 1
Gate DataLimitPoints 600
Gate DataLimitSeconds 0.0
Gate InitialCategoryData 4
Gate CategoryPerDataPoint 0
Gate InitialGenericData 2
Gate GenericPerDataPoint 0
Gate IncludeInitialColor True
Gate IncludeColorPerData True
Gate NumTables 0
Gate TableNumColumns 0
Gate TableSparsity None
Gate TableVariableType double

Laser Number 0                
Laser DataPerSecond 10
Laser DataLimitPoints 600
Laser DataLimitSeconds 0.0
Laser InitialCategoryData 4
Laser CategoryPerDataPoint 0
Laser InitialGenericData 2
Laser GenericPerDataPoint 0
Laser IncludeInitialColor True
Laser IncludeColorPerData True
Laser NumTables 0
Laser TableNumColumns 0
Laser TableSparsity None
Laser TableVariableType double

LobGroup Number 0             
LobGroup DataPerSecond 1
LobGroup DataLimitPoints 600
LobGroup DataLimitSeconds 0.0
LobGroup InitialCategoryData 4
LobGroup CategoryPerDataPoint 0
LobGroup InitialGenericData 2
LobGroup GenericPerDataPoint 0
LobGroup IncludeInitialColor True
LobGroup IncludeColorPerData True
LobGroup NumTables 0
LobGroup TableNumColumns 0
LobGroup TableSparsity None
LobGroup TableVariableType double
